<% var rootPath = '../../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg">
            <div class="homeDiv center">
                    <h1 class="titleMain cenX"><span class="backW">REAL ESTATE</span></h1>
                    <h3 class="regTitle cenX"><span class="backW">PROPERTY INVESTMENTS</span></h3>
            </div>

        </div>

        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">INFO INFO INFO</h3>
                <p class="subText white extPad" id="desc">INFO INFO INFO</p>
            </div>
        </div>
    
        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">7 GOLDEN RULES </h3>
                <p class="subP"><strong>1) Buy When Money Can be Made.</strong><br/><br/>If you want to gamble go to Vegas. If you want to be successful in real estate don’t speculate. Regular property buyers buy because of emotion, investors do not.  Speculation is tempting, but there is no reason to take unnecessary risks.

                    In order to make money when buying real estate, you need to be impartial when estimating possible returns.  Err on the side of caution when calculating the likelihood a deal will produce.</p>

                    <ul class="listPad minpadY">
                        <li>Buying below value</li>
                        <li>Purchasing properties that already have a stream of rental income</li>
                        <li>Arranging an end buyer prior to closing a deal</li>
                    </ul>
            </div>
            <div class="container">
                    <p class="subP"><strong>2) Forever Be A Student.</strong><br/><br/>When you don’t or won’t learn, you will lose.  The key to being a leader is embracing lifelong learning.  If you look at key players in the real estate market, you will see they are always learning and evolving their strategies accordingly.  Doing so increases your longevity in the market.

                        There will always be more you can learn about real estate investing. The trends of the industry fluctuate regularly, Make keeping up to date with those trends part of your daily schedule, weekly achievement list, monthly goals, and yearly plan.</p>
                </div>
                <div class="container">
                        <p class="subP"><strong>3) Have Long-Term Focus.</strong><br/><br/>When making choices about buying real estate or selling real estate you should be driven by a long-term plan.  Big plans are good, but understanding how they will play out over time is better.  Almost anyone can make a few real estate deals, it is even possible to bank significant profit early on.  However few people manage to successfully stay the course long-term and build wealth.

                            Time moves quickly.  Back up your five-year plan with a ten-year plan, and have a clear picture of what 20 and 30 years will bring.  If this sounds incredible, consider that the average homeowner has a 20 to 30-year mortgage.  How much more unreasonable is it for the average investor to be clear on their investment goals for a similar amount of time?</p>
                    </div>
                    <div class="container">
                            <p class="subP"><strong>4) Supply And Demand Are King.</strong><br/><br/>Everything about real estate is driven by supply and demand. Your goal should be to pinpoint markets with demand and then move in to take control of part of the supply.  However do not get comfortable because the demographics of supply and demand are always changing.  That said, there are some consistencies in particular markets.  You need to be familiar with it all.

                                Keep in mind branding can create a demand.  If you have a brand people associate with what they want, you can control what people demand.  On a large scale, Warren Buffet and Donald Trump have accomplished this.  On a smaller scale, local investors, property management companies, and real estate companies do the same.  Familiarity is a good positioner for success.</p>
                        </div>
                        <div class="container">
                                <p class="subP"><strong>5) Be Micro vs. Macro Focused.</strong><br/><br/>The national news is not a good source for your real estate investment information.  You will get lost if you use such a widely focused lens.  Rather hone in on the local level.  Better still, focus your individual investment opportunity and its immediate area.  This takes nerves of steel, because you have to drown out the background noise.

                                    That said, there is no need to completely ignore the bigger picture.  You can widely assimilate information such as trends and market data, but then zoom in and pick the best investment deals specific to your market. It is possible for the market to overarchingly lean in one direction, but for the local climate to be completely different.</p>
                            </div>           
                            <div class="container">
                                    <p class="subP"><strong>6) Plan For The Worst.</strong><br/><br/>When you are buying real estate, selling real estate, or for financing real estate, it is not wise to have a glass half full mentality.  You need to be ready for the unexpected.  Your projections cannot be best-case scenarios.  The worst thing that can happen is that you are unprepared for an unforeseen hiccup.

                                        Have the expectation that your closing costs will be higher than projected.  Plan for your repairs to go over budget.  Assume your marketing results will take longer.  Realize that the other players involved may be totally unreliable.  Then make contingencies.  Best case everything will go off without a hitch, worse case, you are ready if they don’t.</p>
                                </div>
                                <div class="container">
                                        <p class="subP"><strong>7) Don’t Be Neurotic About Control.</strong><br/><br/>Take a deep breath, relax, and accept you cannot control everything.  However, you can still seek to control as much as you can.  Aim big, seek to position yourself to have influence, a significant and controlling vote, and loyalty within your market.  Familiarize yourself with the local real estate cycles and numbers.  Prepare for whatever the market might cough up.

                                            When you run into something that is not in your control, don’t panic.  Instead, realize that the unexpected can still yield results that will benefit you.  You may not be able to control Mother Nature, but you can have an action plan for weather and natural disasters. The market is going to do what it will, but you can have a strategy for how to capitalize on the changes as they come.</p>
                                    </div>
            <!--
            <div class="container">
                <h3 class="subTitle">DIAGONAL</h3>
                <p class="subP">My algorithm supports borth diagonal and non-diagonal pathfinding.<br/><br/>
                    Simply check the "diagonal" box in the control panel (bottom left of the screen).</p>
                    <img src="images/diagonal.gif" width="90%" class="centerImg padB40"></img>
            </div>

            <div class="container">
                <h3 class="subTitle">VARIABLE SPEED</h3>
                <p class="subP">You may change the speed of the visualization during runtime.</p>
                <ul class="listPad minpadY">
                    <li>By default, speed is 50%</li>
                </ul>
                <p class="subP">Notice: speed control only works when <code>showSteps</code> is true.
                                <br/>If <code>showSteps</code> is false, that leads to the next section..</p>
            </div>

            <div class="container">
                <h3 class="subTitle">TIMED EFFICIENCY</h3>
                <p class="subP">You may choose to view a step-by-step process of the algorithm by selecting <code>showSteps</code> box at the bottom left.</p>
                <ul class="listPad minpadY">
                    <li>If showSteps is false, the algorithm will skip visuals until the end, and process as fast as possible.</li>
                </ul>
                <p class="subP">Also known as <code>Timed Efficiency</code>. This is useful when you want to analyze the efficiency of the algorithm in various
                     conditions, map sizes and so on. The example below shows <code>showSteps</code> as false, where it times the algorithm and outputs <code>Completed in 4ms</code>
                     at the bottom left.</p>
                <img src="images/timed.gif" width="90%" class="centerImg padY40"></img>
            </div>

            <div class="container">
                <h3 class="subTitle">ADVANCED</h3>
                <p class="subP">Those are the basics! Now you can be free to make the map as complicated as you desire. (Not really, because making the map too large will overflow the stack).</p>

                <img src="images/advanced.gif" width="90%" class="centerImg padY40"></img>
            </div>

            <div class="container">
                <h3 class="subTitle">ZOOM</h3>
                <p class="subP">You can (kind of) zoom with the scroll wheel. I wouldn't really advise it.
                     It does not zoom into your mouse, only towards the top left corner, and
                     making the map too big will crash the program. This needs some work.
                     However, If you zoom in far enough you can view each nodes information.
                     The top left is the "F cost", bottom left is "G cost" and bottom right
                     is "H cost". I will work on properly implementing a zoom feature soon.</p>
            </div>

            <div class="container">
                <h3 class="subTitle">COMMAND LINE (C)</h3>
                <p class="subP">*Calling all low-level devs*. I recreated my A* pathfinding algorithm in C!
                    Instead of a graphics interface this is meant to run on the command line and
                    analyze a maze given by a .txt file. '#' characters are walls, 'O' characters
                    are open, 'S' is the start and 'G' is the end. Visit the <a href="#">github page</a> for details
                    on how to run, and obtain the executables.</p>
                <img src="images/c.PNG" width="90%" class="centerImg padY40"></img>
            </div>
        </div>
    -->
        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2"></h3>
                            <p class="subText"></p>
                        </div>
                    </div>
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="leftCenter">
                            <h3 class="sub2"></h3>
                            <p class="subText"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
    </body>
</html>
