<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <div class="homeDiv center container">
        <h1 class="titleMain cenX">WEBSITE IN DEVELOPMENT.</h1>

        <div class="row rowBackSS"></div>
        <h3 class="subTitle cenX padX0">01101001 01110110 01100101 01110010</h3>
    </div> 
</div>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <footer>
        <div class="container">
            <div class="row vcenter">
                <div class="pull-left col-lg-4 col-xs-12">
                    <p>&copy;iver</p>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
