<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">MALIXI-BOTOR</h1>
            <h3>FAMILY PORTFOLIO</h3>
            <h6> A project by Iver.</h6>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Explore</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

<!--
    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">PLACEHOLDER</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">PLACEHOLDER</h3>
                    <h5 class="tileDesc subPmin white">PLACEHOLDER PLACEHOLDER PLACEHOLDER</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">PLACEHOLDER</h3>
                    <h5 class="tileDesc subPmin white">PLACEHOLDER PLACEHOLDER PLACEHOLDER</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink">PLACEHOLDER</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">PLACEHOLDER</h3>
                    <h5 class="tileDesc subPmin white">PLACEHOLDER PLACEHOLDER PLACEHOLDER</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">PLACEHOLDER</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">PLACEHOLDER</h3>
                    <h5 class="tileDesc subPmin white">PLACEHOLDER PLACEHOLDER PLACEHOLDER</h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>
-->
    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0"></h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">AMBITIOUS</h3>
                       <!-- <h5 class="tileDesc subPmin">Hard-working and con.</h5> -->
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">HUMBLE</h3>
                      <!--  <h5 class="tileDesc subPmin">Custom design of low power protection
                        circuits that are scalable and cheap, for 18650 cells</h5> -->
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">CREATIVE</h3>
                       <!-- <h5 class="tileDesc subPmin">Coming soon in future projects!</h5> -->
                    </div>
                </div>
              <!--  <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a> -->

            </div>
        </div>
    </div>
<!--
    <div class="container-fluid videoBack">
        <div class="container padY60 padX0">
            <h2 class="leftTitle whiteText subTitle padtop0">FILMS</h2>
            <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class= "odometer tileTitle odoSubs whiteText" id="odometer" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Subscribers</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="odometer tileTitle odoViews whiteText" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Views</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">5+ years</h3>
                        <h5 class="tileDesc whiteText">Creating digital content</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Partner</h3>
                        <h5 class="tileDesc whiteText">with Much Studios</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">500+</h3>
                        <h5 class="tileDesc whiteText">Videos</h5>
                    </div>
                </div>
                <a class="btn btn-lg centerBtn learnFilmsBtn" href="films" role="button">Learn More</a>
            </div>
        </div>
    </div>
-->
<!---
    <div class="container-fluid photoBack">
        <div class="w-100">
            <div class="container photoDiv extraSpace">
                <h2 class="subTitle padX0 padtop0 cenX">-----</h2>
                <div class="row">
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class= "cenX subTitle padX0" style="display:block">MANUAL</h3>
                            <h5 class="tileDesc">Self taught manual photography since 2012</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">PLUGINS</h3>
                            <h5 class="tileDesc">Professional timelapses with my <a href="software/timelapse-auto-ramp">Photoshop Plugin</a>,
                            to assist photographers shooting timelapses in difficult lighting conditions</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">100+</h3>
                            <h5 class="tileDesc">Timelapses<br>shot in the past 3 years</h5>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg centerBtn learnPhotoBtn" href="photography" role="button" onmouseover="mouseOver()" onmouseout="mouseOver()">Learn More</a>
                </div>
            </div>
        </div>
    </div>

-->
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
